* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Nunito;
}

@font-face {
  font-family: 'Nunito Regular';
  src: url(asset/nunitot/Nunito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(asset/robotot/Roboto-Bold.ttf) format("truetype");
}

body {
  overflow-x: hidden;
}

.header-section {
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 91px;
  width: 100%;
  padding-right: 100px;
}

header .logo {
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 123px;
  height: 53px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  font-family: Nunito;
  font-weight: bold;
}

header nav ul .login > a {
  color: #93A5FF;
}

header nav ul .login > img {
  height: 13px;
  width: auto;
}

header nav ul li {
  list-style: none;
  font-family: Nunito Regular;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

.parent-elements-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
}

.parent-elements-header > .txt_form {
  color: white;
  width: 700px;
  height: auto;
}

.parent-elements-header > .txt_form > h1 {
  margin: 20px 0;
  font-size: 49px;
  font-family: Roboto;
  font-weight: bold;
}

.parent-elements-header > .txt_form h2 {
  margin: 10px 0;
  font-family: Nunito;
}

.parent-elements-header > .txt_form .first-input {
  width: 300px;
  height: 54px;
  background-color: #384170;
  color: white;
  border-width: 0px;
  font-family: Nunito;
  font-weight: bold;
}

.parent-elements-header > .txt_form input {
  width: 222px;
  height: 54px;
  background-color: #93A5FF;
  color: white;
  border-width: 0px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.parent-elements-header > .txt_form ::-webkit-input-placeholder {
  color: white;
  padding-left: 20px;
}

.parent-elements-header > .txt_form :-ms-input-placeholder {
  color: white;
  padding-left: 20px;
}

.parent-elements-header > .txt_form ::-ms-input-placeholder {
  color: white;
  padding-left: 20px;
}

.parent-elements-header > .txt_form ::placeholder {
  color: white;
  padding-left: 20px;
}

.parent-elements-header > .txt_form select {
  width: 122px;
  height: 54px;
  background-color: #384170;
  color: white;
  border-width: 0px;
  padding-left: 15px;
  cursor: pointer;
  border-radius: 5px;
}

.parent-elements-header .reseaux {
  width: 600px;
}

.second_section {
  height: 100vh;
  width: 100%;
  position: relative;
}

.second_section .englob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 100px;
  position: relative;
}

.second_section .left-txt-icon h3 {
  font-family: Nunito;
  font-weight: bold;
  margin-bottom: 40px;
}

.second_section .left-txt-icon p {
  font-family: Nunito;
}

.second_section .first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.second_section .first-row > img {
  height: 80px;
  width: auto;
}

.second_section .first-row .txt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

.second_section .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.second_section .second-row > img {
  height: 80px;
  width: auto;
}

.second_section .second-row .txt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

.second_section .third-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 0;
}

.second_section .third-row > img {
  height: 80px;
  width: auto;
}

.second_section .third-row .txt3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 20px;
}

.second_section .img-right {
  position: relative;
}

.second_section .img-right :nth-child(2) {
  position: absolute;
  top: -10%;
  right: -10%;
  width: 150px;
}

.second_section .img-right :nth-child(3) {
  position: absolute;
  bottom: -10%;
  left: -10%;
  width: 150px;
}

.second_section .title-middle-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.second_section .title-middle-second > h2 {
  font-family: Nunito;
  font-weight: bold;
}

.second_section .title-middle-second > p {
  font-family: Nunito;
}

.third-section {
  background-color: #F7F8FF;
  height: 100vh;
  width: 100%;
  position: relative;
}

.third-section .title-middle-third {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.third-section .title-middle-third > h2 {
  font-family: Nunito;
  font-weight: bold;
}

.third-section .title-middle-third > p {
  font-family: Nunito;
}

.third-section .parent-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  gap: 50px;
  margin-top: 30px;
}

.third-section .parent-bloc .sky-bloc {
  width: 550px;
  height: 441px;
  background-color: #93A5FF;
  position: relative;
  border-radius: 5px;
}

.third-section .parent-bloc .sky-bloc .image-sky {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  padding-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.third-section .parent-bloc .sky-bloc .image-sky .space {
  width: 77px;
  height: 77px;
}

.third-section .parent-bloc .sky-bloc .sky-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
}

.third-section .parent-bloc .sky-bloc .sky-txt > h2 {
  color: white;
  font-family: Nunito;
  font-weight: bold;
  margin-bottom: 20px;
}

.third-section .parent-bloc .sky-bloc .sky-txt p {
  color: white;
  font-family: Nunito;
  line-height: 30px;
}

.third-section .parent-bloc .sky-bloc .sky-txt .button-sky {
  background-color: white;
  width: 175px;
  height: 54px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.third-section .parent-bloc .sky-bloc .sky-txt .button-sky > a {
  text-decoration: none;
  color: #93A5FF;
  font-family: Nunito;
  font-weight: bold;
}

.third-section .parent-bloc .blue-bloc {
  width: 550px;
  height: 441px;
  background-color: #424D83;
  border-radius: 5px;
  position: relative;
}

.third-section .parent-bloc .blue-bloc .image-blue {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
}

.third-section .parent-bloc .blue-bloc .image-blue .calender {
  width: 77px;
  height: 77px;
}

.third-section .parent-bloc .blue-bloc .image-blue .star {
  width: 266px;
  height: 100px;
}

.third-section .parent-bloc .blue-bloc .blue-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 25px;
}

.third-section .parent-bloc .blue-bloc .blue-txt > h2 {
  color: white;
  font-family: Nunito;
  font-weight: bold;
  margin-bottom: 20px;
}

.third-section .parent-bloc .blue-bloc .blue-txt p {
  color: white;
  font-family: Nunito;
  line-height: 30px;
}

.third-section .parent-bloc .blue-bloc .blue-txt .button-blue {
  background-color: white;
  width: 175px;
  height: 54px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.third-section .parent-bloc .blue-bloc .blue-txt .button-blue > a {
  text-decoration: none;
  color: #93A5FF;
  font-family: Nunito;
  font-weight: bold;
}

.fourth-section {
  height: 110vh;
  width: 100%;
}

.fourth-section .title-middle-fourth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.fourth-section .title-middle-fourth > h2 {
  font-family: Nunito;
  font-weight: bold;
}

.fourth-section .title-middle-fourth > p {
  font-family: Nunito;
}

.fourth-section .englob-host {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.fourth-section .englob-host p {
  font-family: Nunito;
}

.fourth-section .englob-host .host1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 516px;
  border-radius: 5px;
  border: 1px solid white;
  -webkit-box-shadow: 0 2px 4px #c5c5c5;
          box-shadow: 0 2px 4px #c5c5c5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fourth-section .englob-host .host1 .englob-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 100px;
  height: 60%;
  padding-top: 50px;
}

.fourth-section .englob-host .host1 .englob-top .img-share {
  width: 66px;
  height: 64px;
}

.fourth-section .englob-host .host1 .englob-top > h2 {
  font-family: Nunito;
  font-weight: bold;
  margin: 20px 0;
}

.fourth-section .englob-host .host1 .englob-top > p {
  line-height: 30px;
  text-align: center;
  width: 60%;
}

.fourth-section .englob-host .host1 hr {
  color: #EBEBEB;
  width: 100%;
}

.fourth-section .englob-host .host1 .englob-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 40%;
}

.fourth-section .englob-host .host1 .englob-bottom .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fourth-section .englob-host .host1 .englob-bottom .price h3 {
  font-family: Nunito;
  font-size: 3rem;
}

.fifth-section {
  background-color: #F7F8FF;
  height: 80vh;
  width: 100%;
  position: relative;
}

.fifth-section .title-middle-fifth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.fifth-section .photo-scroll {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fifth-section .photo-scroll .parent-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fifth-section .photo-scroll .parent-photo .first-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 546px;
  height: auto;
}

.fifth-section .photo-scroll .parent-photo .first-photo .man {
  width: 108px;
  height: 108px;
}

.fifth-section .photo-scroll .parent-photo .first-photo .note {
  width: 135px;
  height: 18px;
}

.fifth-section .photo-scroll .parent-photo .note-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fifth-section .photo-scroll .parent-photo .note-txt .commentaire {
  line-height: 30px;
  font-family: Nunito;
  margin: 10px 0;
}

.fifth-section .photo-scroll .parent-photo .second-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 546px;
  height: auto;
}

.fifth-section .photo-scroll .parent-photo .second-photo .women {
  width: 108px;
  height: 108px;
}

.fifth-section .photo-scroll .parent-photo .scroll {
  width: 124px;
  height: 40px;
}

.fifth-section .photo-scroll .scrollparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon {
  width: 100%;
  height: 65vh;
  position: relative;
}

.icon .title-middle-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.icon .logos-button {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

.icon .logos-button .parent-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icon .logos-button .parent-button .button-trial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  width: 177px;
  height: 54px;
  background-color: #93A5FF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-radius: 10px;
}

.icon .logos-button .parent-button .button-trial a {
  text-decoration: none;
  color: white;
}

.icon .logos-button .logo-parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-right: 20px;
  padding-left: 20px;
}

.icon .logos-button .logo-parent img {
  width: 150px;
  height: auto;
}

footer {
  height: 80vh;
  width: 100%;
  background-image: url(../img/footer_bg.png);
  background-repeat: no-repeat;
  position: relative;
}

footer .englob-bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

footer .englob-bloc .first_bloc {
  color: white;
}

footer .englob-bloc .parent-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .englob-bloc .parent-card > h3 {
  color: white;
}

footer .englob-bloc .parent-card .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  padding-top: 10px;
}

footer .englob-bloc .parent-card .cards > img {
  width: 87px;
  height: 49px;
}

footer .englob-bloc .parent-card .cards .bloc-paypal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2D355D;
  width: 87px;
  height: 49px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .englob-bloc .parent-card .cards .bloc-visa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #2D355D;
  width: 87px;
  height: 49px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .englob2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  bottom: 10%;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

footer .englob2 .onlylogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1050px) {
  .parent-elements-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .englob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .parent-bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */