* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Nunito;

}

@font-face {
    font-family: 'Nunito Regular';
    src: url(asset/nunitot/Nunito-Regular.ttf) format('truetype');
}


@font-face {
    font-family: 'Roboto Bold';
    src: url(asset/robotot/Roboto-Bold.ttf) format('truetype');
}

body {
    overflow-x: hidden;
}

.header-section {
    // background-color: #424D83;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

}

header {
    display: flex;
    height: 91px;
    width: 100%;
    padding-right: 100px;

    .logo {
        transform: scale(0.3);
    }

    nav {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        ul {
            display: flex;
            list-style: none;
            gap: 50px;
            align-items: center;


            .login {
                display: flex;
                width: 123px;
                height: 53px;
                justify-content: space-evenly;
                background-color: white;
                align-items: center;
                border-radius: 10px;
                font-family: Nunito;
                font-weight: bold;


                >a {
                    color: #93A5FF;


                }

                >img {
                    height: 13px;
                    width: auto;
                }
            }

            li {
                list-style: none;
                font-family: Nunito Regular;

                a {
                    text-decoration: none;
                    color: white;

                }



            }

        }

    }

}

.parent-elements-header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;


    >.txt_form {
        color: white;
        width: 700px;
        height: auto;

        >h1 {
            margin: 20px 0;
            font-size: 49px;
            font-family: Roboto;
            font-weight: bold;
        }

        h2 {
            margin: 10px 0;
            font-family: Nunito;
        }



        .first-input {
            width: 300px;
            height: 54px;
            background-color: #384170;
            color: white;
            border-width: 0px;
            font-family: Nunito;
            font-weight: bold;
        }

        input {
            width: 222px;
            height: 54px;
            background-color: #93A5FF;
            color: white;
            border-width: 0px;
            text-transform: uppercase;
            cursor: pointer;
            border-radius: 5px;
        }

        ::placeholder {
            color: white;
            padding-left: 20px;
        }

        select {
            width: 122px;
            height: 54px;
            background-color: #384170;
            color: white;
            border-width: 0px;
            padding-left: 15px;
            cursor: pointer;
            border-radius: 5px;
        }

    }

    .reseaux {
        width: 600px;

    }
}


.second_section {
    height: 100vh;
    width: 100%;
    position: relative;

    .englob {
        display: flex;
        justify-content: space-between;
        margin: 100px;
        position: relative;


    }


    .left-txt-icon {


        h3 {
            font-family: Nunito;
            font-weight: bold;
            margin-bottom: 40px;
        }

        p {
            font-family: Nunito;
        }
    }

    .first-row {
        display: flex;
        padding: 25px 0;


        >img {
            height: 80px;
            width: auto;
        }


        .txt1 {
            display: flex;
            flex-wrap: wrap;
            padding-left: 20px;

        }
    }

    .second-row {
        display: flex;
        padding: 25px 0;

        >img {
            height: 80px;
            width: auto;
        }

        .txt2 {
            display: flex;
            flex-wrap: wrap;
            padding-left: 20px;
        }
    }

    .third-row {
        display: flex;
        padding: 25px 0;

        >img {
            height: 80px;
            width: auto;
        }

        .txt3 {
            display: flex;
            flex-wrap: wrap;
            padding-left: 20px;
        }
    }

    .img-right {
        position: relative;


        :nth-child(2) {
            position: absolute;
            top: -10%;
            right: -10%;
            width: 150px;
        }

        :nth-child(3) {
            position: absolute;
            bottom: -10%;
            left: -10%;
            width: 150px;
        }

    }

    .title-middle-second {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        >h2 {
            font-family: Nunito;
            font-weight: bold;
        }

        >p {
            font-family: Nunito;
        }
    }


}

.third-section {
    background-color: #F7F8FF;
    height: 100vh;
    width: 100%;
    position: relative;

    .title-middle-third {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-top: 50px;

        >h2 {
            font-family: Nunito;
            font-weight: bold;
        }

        >p {
            font-family: Nunito;
        }
    }

    .parent-bloc {
        display: flex;
        justify-content: center;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        gap: 50px;
        margin-top: 30px;

        .sky-bloc {
            width: 550px;
            height: 441px;
            background-color: #93A5FF;
            position: relative;
            border-radius: 5px;

            .image-sky {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                padding-left: 30px;
                padding-right: 20px;
                align-items: center;
                padding-top: 25px;

                .space {
                    width: 77px;
                    height: 77px;
                }
            }

            .sky-txt {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin: 25px;

                >h2 {
                    color: white;
                    font-family: Nunito;
                    font-weight: bold;
                    margin-bottom: 20px;

                }

                p {
                    color: white;
                    font-family: Nunito;
                    line-height: 30px;
                }

                .button-sky {
                    background-color: white;
                    width: 175px;
                    height: 54px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;

                    >a {
                        text-decoration: none;
                        color: #93A5FF;
                        font-family: Nunito;
                        font-weight: bold;
                    }
                }
            }
        }

        .blue-bloc {
            width: 550px;
            height: 441px;
            background-color: #424D83;
            border-radius: 5px;
            position: relative;

            .image-blue {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                padding-left: 30px;
                align-items: center;
                padding-top: 25px;

                .calender {
                    width: 77px;
                    height: 77px;
                }

                .star {
                    width: 266px;
                    height: 100px;
                }
            }

            .blue-txt {
                display: flex;
                justify-content: flex-start;
                flex-direction: column;
                margin: 25px;

                >h2 {
                    color: white;
                    font-family: Nunito;
                    font-weight: bold;
                    margin-bottom: 20px;

                }

                p {
                    color: white;
                    font-family: Nunito;
                    line-height: 30px;
                }

                .button-blue {
                    background-color: white;
                    width: 175px;
                    height: 54px;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    position: absolute;
                    right: 20px;
                    bottom: 20px;

                    >a {
                        text-decoration: none;
                        color: #93A5FF;
                        font-family: Nunito;
                        font-weight: bold;
                    }
                }
            }
        }

    }
}


.fourth-section {
    height: 110vh;
    width: 100%;

    .title-middle-fourth {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-top: 50px;

        >h2 {
            font-family: Nunito;
            font-weight: bold;
        }

        >p {
            font-family: Nunito;
        }
    }

    .englob-host {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
        width: 100%;

        p {
            font-family: Nunito;
        }

        .host1 {
            display: flex;
            width: 300px;
            height: 516px;
            border-radius: 5px;
            border: 1px solid rgb(255, 255, 255);
            box-shadow: 0 2px 4px rgb(197, 197, 197);
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .englob-top {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                padding-bottom: 100px;
                height: 60%;
                padding-top: 50px;

                .img-share {
                    width: 66px;
                    height: 64px;
                }

                >h2 {
                    font-family: Nunito;
                    font-weight: bold;
                    margin: 20px 0;
                }

                >p {
                    line-height: 30px;
                    text-align: center;
                    width: 60%;
                }
            }

            hr {
                color: #EBEBEB;
                width: 100%;
            }

            .englob-bottom {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 40%;


                .price {
                    display: flex;
                    align-items: center;


                    h3 {
                        font-family: Nunito;
                        font-size: 3rem;
                    }
                }
            }
        }
    }
}

.fifth-section {
    background-color: #F7F8FF;
    height: 80vh;
    width: 100%;
    position: relative;


    .title-middle-fifth {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding-top: 50px;
    }

    .photo-scroll {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);


        .parent-photo {
            display: flex;
            justify-content: center;

            .first-photo {
                display: flex;
                justify-content: center;
                width: 546px;
                height: auto;

                .man {
                    width: 108px;
                    height: 108px;
                }

                .note {
                    width: 135px;
                    height: 18px;
                }
            }

            .note-txt {
                display: flex;
                flex-direction: column;

                .commentaire {
                    line-height: 30px;
                    font-family: Nunito;
                    margin: 10px 0;
                }
            }

            .second-photo {
                display: flex;
                justify-content: center;
                width: 546px;
                height: auto;

                .women {
                    width: 108px;
                    height: 108px;
                }
            }

            .scroll {
                width: 124px;
                height: 40px;
            }
        }

        .scrollparent {
            display: flex;
            justify-content: center;
        }
    }
}

.icon {
    width: 100%;
    height: 65vh;
    position: relative;

    .title-middle-icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .logos-button {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 100%;

        .parent-button {
            display: flex;
            justify-content: center;


            .button-trial {
                display: flex;
                justify-content: center;
                margin-top: 100px;
                width: 177px;
                height: 54px;
                background-color: #93A5FF;
                align-items: center;
                align-self: center;
                border-radius: 10px;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }

        .logo-parent {
            display: flex;
            justify-content: space-around;
            padding-right: 20px;
            padding-left: 20px;


            img {
                width: 150px;
                height: auto;
            }

        }
    }
}

footer {
    height: 80vh;
    width: 100%;
    background-image: url(../img/footer_bg.png);
    background-repeat: no-repeat;
    position: relative;

    .englob-bloc {
        display: flex;
        width: 100%;
        justify-content: space-around;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;

        .first_bloc {
            color: white;
        }

        .parent-card {
            display: flex;
            flex-direction: column;

            >h3 {
                color: white;
            }

            .cards {
                display: flex;
                gap: 10px;
                padding-top: 10px;

                >img {
                    width: 87px;
                    height: 49px;
                }

                .bloc-paypal {
                    display: flex;
                    background-color: #2D355D;
                    width: 87px;
                    height: 49px;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                }

                .bloc-visa {
                    display: flex;
                    background-color: #2D355D;
                    width: 87px;
                    height: 49px;
                    border-radius: 5px;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }

    .englob2 {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 10%;
        padding-left: 50px;
        padding-right: 50px;
        align-items: center;
        color: white;

        .onlylogo {
            display: flex;
            justify-content: flex-end;
        }
    }
}


@media screen and(max-width: 1050px) {
    .parent-elements-header {
        display: flex;
        flex-direction: column;
    }

    .englob {
        display: flex;
        flex-direction: column;
    }

    .parent-bloc {
        display: flex;
        flex-direction: column;
    }

}